@import url(html5reset-1.6.1.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
*{
		box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size: 1.6em;
}
a, a:hover {
	text-decoration: none;
}
a {
	color: inherit;
}
.wrapper, header, footer {
	width: 100%;
}
.wrapper {
	position: relative;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 140px;
	background: #000;
	color: #fff;
}
.logo {
	background: #666;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo:hover {
	background: #333;
}
header .logo {
	width: 160px;
	height: 160px;
	font-size: 2.5em;
	position: absolute;
	top: 20px;
	left: 20px;
	text-shadow: 5px 5px 0 darkblue,
		8px 8px 25px dodgerblue;
}
nav {
	width: 1024px;
	margin: 0 auto;
}
nav ul {
	display: flex;
	flex-wrap: nowrap;
}
nav ul li {
	border-left: 1px dotted #fff;
}
nav ul li:last-child {
	border-right: 1px dotted #fff;
}
nav ul li a {
	display: block;
	width: 10em;
	text-align: center;
	padding: 2em 1.5em;
}
nav ul li a:not(.logo):hover {
	background: #fff;
	color: #212121;
}
footer p {
	color: #fff;
	text-align: center;
	padding: 1.5em 0;
	font-size: 0.8em;
	font-weight: 100;
	margin-top: 1em;
}