/*Google Web Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

.container {}

/*Common CSS*/
section {
    clear: both;
    padding-top: 50px;
}
section .inner {
    width: 1100px;
    margin: auto;
    padding: 50px 0;
    text-align: center;
}

/*
section:nth-child(odd) {
    background-color: #f4f4f4;
}
*/
section:nth-of-type(even) {
    background-color: #fafafa;
}
.download-spec a {
    display: block;
    background-color: dodgerblue;
    width: 170px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    margin: 10px auto;
    
}
.download-spec span {
    display: block;
}
section  h2 {
    font-size: 36px;
    font-weight: normal;
}
.gototop {
    position: fixed;
    right: 20px;
    bottom: 0;
}
.gototop .fa {
    border: 1px solid lightgray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
}
.gototop .fa:hover {
    background-color: #000;
    color: #fff;
}
/* Header Area */
header {
    background-color: crimson;
    height: 90px;
    line-height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /*포지션 픽스를 넣어주면 높이값을 잃어버리기때문에 높이를 재설정해야함*/
}
nav {
/*    border: 1px solid;*/
    width: 1100px;
    margin: auto;
}
.logo {
    float: left;
    padding-top: 20px;
}
.logo img {
    height: 45px;
}
.navi {
    float: right;
}
.navi a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 7px;
}
/* Section : Welcome */
section.welcome {
    padding: 80px 0;
}
section.welcome h1 {
    font-size: 46px;
    font-weight: normal;
}
section.welcome img {
    margin-top: 20px;
}

/* Section : Usage */
section.usage {}
section.usage .sub-inner {
/*  border: 1px solid;*/
    width: 800px;
    margin: auto;
    overflow: hidden;
}
section.usage .sub-inner div {
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
/*    display: inline-block;*/
}

/* Section : Continue */
section.continue p {
    padding: 0 100px;
}
section.continue img {
    margin-top: 50px;
}

/* Section : Create */
section.create p {
    padding: 0 100px;
}
section.create img {
    margin-top: 50px;
}
        
/* Section : Download */
section.download .inner div {
    display: inline-block;
    height: 400px;
    vertical-align: middle;
}
section.download {
    padding-top: 80px;
}

/*Footer Area*/
footer {}
.links {
    background-color: #eee;
}
.links div {
    width: 1100px;
    margin: auto;
    padding: 20px 0;
}
.links div ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
    width: 19.5%;
    vertical-align: top;
    font-size: 13px;
    text-transform: capitalize;
}
.links div ul li a {
    text-decoration: none;
    color: #333;
}
.links div ul li a:hover {
    color: #777;
}
.copyright {
    background color: #333;
    color: #999;
    text-align: center;
    height: 50px;
    font-size: 13px;
    line-height: 50px;
}

/*Mobile CSS*/
@media (max-width: 768px) {
    
}